*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: url('belle-plage-tropicale-mer.jpg') no-repeat;
    background-size: cover;
}

h1 {
    color: #fff;
    text-align: center;
}

.form-box {
    position: relative;
    width: 500px;
    height: 900px;
    background-color: transparent;
    border: 2px solid #FFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2em;
    color: #FFFF;
    ;
    text-align: center;
}

.input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #FFFF;
    font-size: 1.2em;
    pointer-events: none;
    transition: .5s;
    font-style: bold;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
}

.input-box ion-icon {
    position: absolute;
    right: 8px;
    color: #FFF;
    font-size: 1.5em;
    top: 20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #23a0c4;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    color: #FFF;
}